{% extends "directory/base.html" %}
{% block content %}
<h3>About</h3>
<p>
NGO Finder is a project first developed at Random Hacks of Kindess in December 2012. It is a platform to enable Peace Corps volunteers to update information about non-governmental organizations in areas that are served by the corps.  Currently, this app is in development, and the data is limited to NGO's in Zambia. If you would like to contribute to this effort, please reach out via the <a href="/contact/">contact</a> page!
</p>
{% endblock %}
