{% extends "directory/base.html" %}
{% block content %}
<h3 class="span12">Contact</h3>
<div class="row">
  <dl class="itemList">
    <dt class="span2" style="padding-left:2em">name:</dt>          <dd class="span10">Sarah Blazucki, Project Manager</dd>
    <dt class="span2" style="padding-left:2em">email:</dt>         <dd class="span10">sblazucki@peacecorps.gov</dd>
  </dl>
</div>
<div class="row">
  <dl class="itemList">
    <dt class="span2" style="padding-left:2em">name:</dt>          <dd class="span10">Development and Support</dd>
    <dt class="span2" style="padding-left:2em">email:</dt>         <dd class="span10">ngofinder@googlegroups.com</dd>
  </dl>
</div>
{% endblock %}
