{% extends 'directory/base.html' %}
{% block content %}

<h1>{{ organization.name }}</h1>

<h3 class="span12">Location(s)</h3>
{% for location in organization.location_set.all %}
    <dl class="itemList">
      <dt class="span2">country:</dt>       <dd class="span10">{{ location.country|default_if_none:"n/a"   }}</dd>
      <dt class="span2">state:</dt>         <dd class="span10">{{ location.state|default_if_none:"n/a"     }}</dd>
      <dt class="span2">county:</dt>        <dd class="span10">{{ location.county|default_if_none:"n/a"    }}</dd>
      <dt class="span2">city:</dt>          <dd class="span10">{{ location.city|default_if_none:"n/a"      }}</dd>
      <dt class="span2">street:</dt>        <dd class="span10">{{ location.street|default_if_none:"n/a"    }}</dd>
      <dt class="span2">postalcode:</dt>    <dd class="span10">{{ location.postalcode|default_if_none:"n/a"}}</dd>
    </dl>
  {% endfor %}
  <h3 class="span12">Sectors:</h3>
  <dl>
    {% for sector in organization.sector_set.all %}
    <dt class="span2">Sector:</dt>    <dd class="span10">{{ sector.sector }}</dd>
    {% endfor %}
  </dl>

<h3 class="span12">Contact(s)</h3>
{% for contact in organization.contact_set.all %}
  <dl class="itemList">
    <dt class="span2">name:</dt>          <dd class="span10">{{ contact.name|default_if_none:"n/a"             }}</dd>
    <dt class="span2">email:</dt>         <dd class="span10">{{ contact.email|default_if_none:"n/a"            }}</dd>
    <dt class="span2">primary:</dt>       <dd class="span10">{{ contact.primary_phone|default_if_none:"n/a"    }}</dd>
    <dt class="span2">secondary:</dt>     <dd class="span10">{{ contact.secondary_phone|default_if_none:"n/a"  }}</dd>
  </dl>
{% endfor %}
{% if user.is_staff %}
<h3 class="span12">Note(s)</h3>
{% for comment in organization.comment_set.all %}
<span style='font-weight:bold'>Note:</span>
<div class="comment">
<span style="font-weight:bold">First Name:</span>{{ comment.user.first_name }}<br />
<span style="font-weight:bold">Last Name:</span>{{ comment.user.last_name }}<br />
<span style="font-weight:bold">subject:</span>{{ comment.subject }}<br />
<span style="font-weight:bold">text:</span>{{ comment.text }}<br />
<span style="font-weight:bold">created:</span>{{ comment.created_at }}<br />
<span style="font-weight:bold">updated:</span>{{ comment.updated_at }}<br />
</div>
<br />

{% endfor %}
<h3>Add a Note</h3>
<div>
  <form action="" method="post" />
{% csrf_token %}
    <label for="subject" style="font-weight:bold">Subject:</label>
    <input type="text" name="subject" /><br />
    <label for="comment" style="font-weight:bold">Notes:</label><br />
    <textarea rows="10" cols="50" name="comment"></textarea><br />
    <input type='submit' name='submit' value="Submit Comment"/>
  </form>
</div>
{% endif %}
{% endblock %}
